.paragraph--view-mode--roll-call-search {
  background: none !important;
}
.node--view--roll-call-dockets--roll-call-search-block .dr-c .entity-paragraphs-item.paragraph--view-mode--roll-call-search {
  margin-bottom: 0;
  padding-bottom: 0;
}
