.ai-feedback-wrapper {
  display: flex;
  color: #58585B;
  gap:  16px;
  max-height: 72px;
  border:  1px solid #C4C1C1;
  border-radius:  2px;
  padding: 16px;
}
.ai-feedback-item.speaker {
  margin-right:32px;
}
.ai-feedback-item {
  cursor: pointer;
  line-height:  32px;
  padding:8px;
}
.ai-feedback-item .ai-feedback-svg {
  fill: #091f2f;
}
.ai-feedback-item:active .ai-feedback-svg {
  fill: #FFFFFF;
}
.ai-feedback-item:focus .ai-feedback-svg,
.ai-feedback-item:hover .ai-feedback-svg {
  fill: #288BE4;
}
.ai-feedback-item:hover,
.ai-feedback-item {
  background-color: transparent;
}
.ai-feedback-item:active {
  background-color: #288be4;
}

/**
 * DESKTOP adjustments
 * This component considers mobile upto window width of 480px
 */
@media screen and (min-width: 480px) {
  .ai-feedback-wrapper {
    flex-basis: 100%;
    border: none;
    padding-left: 0;
  }
}

