.aienabledsearchbutton-wrapper {
  font-family: 'Lora', 'Georgia', serif;
  font-size:  16px;
  line-height: calc(16px  * 1.75);
  color:  #58585B;
  font-weight:  400;
  background-color: #f2f2f2;
}
.aienabledsearchbutton-wrapper .aienabledsearchbutton a.button:before {
  content: "";
  background-image: url(../img/twinkle_white.svg);
  height: 24px;
  width: 24px;
  background-size: 24px;
  background-repeat: no-repeat;
  position: absolute;
  top: 13px;
  left: 12px;
}

/**
 * DESKTOP adjustments
 * This component considers mobile upto window width of 480px
 */
@media screen and (min-width: 480px) {

}

