.search-request {
    background-color: #ddd;
    text-align: right;
    max-width: 80%;
    margin: 15px 0 4px 20%;
    padding: 0 10px;
    font-family: inherit;
    font-size: inherit;
    font-style: italic;
    color: navy;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.search-results-outer-wrapper {
}
.search-response-wrapper {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
}
.search-response {
    font-family: lora;
    font-size: calc(1rem + 10%);
    padding: 15px;
}
.search-results-wrapper {
    border-top: 1px solid #ccc;
    margin-top:5px;
    padding: 20px;
}
.search-result {
    margin-left: 25px;
}