/**
 * OVERLAY
 */
.ui-widget-overlay.ui-front {
  background-color: #1871bd;
  opacity: .5;
}
/**
 * MODAL DIALOG WINDOW
 */
.aisearch-modal-form.ui-dialog.ui-corner-all {
  /* place border around the modal dialog */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
/**
 * MODAL DIALOG TITLEBAR
 */
.aisearch-modal-form .ui-dialog-titlebar {
  font-family: 'Lora', 'Georgia', serif;
  /*font-family: Montserrat, Arial, sans-serif;*/
}
.aisearch-modal-form .ui-titlebar-hidden {
  display:none;
}
.aisearch-modal-form .ui-dialog-titlebar .ui-dialog-title {}
.aisearch-modal-form .ui-dialog-titlebar .ui-dialog-titlebar-close {}
.aisearch-modal-form .ui-dialog-titlebar .ui-icon-closethick {}

/**
 * MODAL DIALOG MAIN CONTENT
 */
/**
 *  Cards
 */
.grid-of-cards.b--fw {
  width: 100%;
}
/**
 * Search Results area
 */
.aisearch-modal-form .search-results-outer-wrapper {
  margin-top:  36px;
}
/**
 * Original Question
 */
.aisearch-modal-form .search-request-wrapper {
  display: flex;
  font-family: inherit;
  font-size: inherit;
  font-style: italic;
  flex-direction: row-reverse;
}
.aisearch-modal-form .search-request {
  background-color: rgba(24, 113, 189, 0.1); /* Optimistic Blue 10% */
  border: 1px solid rgba(24, 113, 189, 0.7);  /* Optimistic Blue 70% */
  border-radius: 12px;
  color: #091f2f;   /* Charles Blue */
  padding: 16px 32px;
  font-style: normal;
}
/**
 * Long Answer
 */
.aisearch-modal-form .search-response-wrapper {
    margin-top: 36px;
    border: 1px solid #ccc;
    padding: 72px 32px;
    border-radius: 10px;
}
.aisearch-modal-form .search-response {
  font-family: 'Lora', 'Georgia', serif;
  font-size: calc(1rem + 10%);
  padding: 15px;
  padding-left: 80px;
}
.aisearch-modal-form .search-response:before {
  background-image: url('../img/twinkle.svg');
  content: "";
  background-repeat: no-repeat;
  position: absolute;
  height: 32px;
  width: 32px;
  left: 60px;
}
/**
 * List of links
 */
.aisearch-modal-form .search-results-wrapper {
    border-top: 1px solid #ccc;
    margin-top:5px;
    padding: 20px;
}
.aisearch-modal-form .search-result {
    margin-left: 25px;
}

/**
 * GENERAL
 */
.br--4 {
  border-radius: 4px;
}
.bg--lb {
  background-color: rgba(24, 113, 189, 0.1); /* Optimistic Blue 10% */
}
.sf--h {
  width: 100%;
  margin-top: 5%;
}
.sf--t {
  text-align: center;
  font-size: 48px;
  line-height: 56px;
  font-family: Montserrat, Arial, sans-serif;
  font-weight: 700;
  color: #091f2f
}
