.grid-of-cards {
  padding-top: 0;
  margin-top: 48px;
  font-family: 'Lora', 'Georgia', serif;
  font-size:  1rem;
}
.goc-wrapper {
  padding: 0;
  width: 80%;
  max-width: 80%;
  margin-bottom:  72px;
}
.goc-title {
  margin: 0;
  padding: 0;
}
.goc-grid {
  margin-top: 24px;
  row-gap: 16px;
  width: 100%;
}
