
div.search-bar-wrapper {
  font-family: 'Lora', 'Georgia', serif;
  color: #091F2F;    /* Charles Blue */
  width: 80%;
  margin: 72px auto 24px auto;
}
div.search-bar-title {
  margin: 0 auto;
  width: 80%;
}
div.search-bar-input-wrapper {
  position: relative;
}
div.search-bar-input {
  background-color: rgba(24, 113, 189, 0.1); /* Optimistic Blue 10% */
  border-radius: 8px;
  padding: 16px;
  border: 1px solid rgba(24, 113, 189, 0.5); /* Optimistic Blue 50% */
  width: 100%;
}
div.search-bar-submit {
  background-position: center;
  background-color: #1871bd;
  background-repeat: no-repeat;
  border: 1px solid rgba(24, 113, 189, 0.5); /* Optimistic Blue 50% */
  border-radius: 8px;
  position: absolute;
  right: 24px;
}
div.search-bar-microphone {
  background-image: url("../img/microphone.svg");
  background-position: center;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  border-radius: 8px;
  position: absolute;
  right: 72px;
}
.search-bar {
  color: #091f2f; /* Charles Blue */
  font-size: 1rem;
  background-color: transparent;
  width: 80%;
  border:none;
  resize: none;
  height: 1.5rem;
  overflow: clip;
  line-height: 1rem;
}
.search-bar:focus-visible {
  outline: none;
}
.search-bar::placeholder {
  color: rgba(9, 31, 47, 0.5); /* Charles Blue 50% */
  font-style: normal;
  font-size: 1rem;
}
div.search-bar-description {
  width: 80%;
  margin: 3px auto 0 auto;
  text-align: center;
  color: #555;
}
