/*# Styles for Component Themes (Blue, White, Grey) - START #*/

  /* ## Grid of Links Mini Grid theme styles - START ## */
    /* ### White theme - Works with the default, do not do anything ### */

    /* ### Blue theme ### */
      .paragraphs-item-group-of-links-mini-grid.b--b .sh-title {
        color: #f2f2f2;
      }

      .paragraphs-item-group-of-links-mini-grid.b--b .sh {
        border-color: #f2f2f2;
      }

    /* ### Grey theme ### */
      .paragraphs-item-group-of-links-mini-grid.b--g .field-grid-links {
        background-color: #fff;
      }

  /* ## Grid of Links Mini Grid theme styles - END ## */

  /* ## Text theme styles - START ## */
    /* ### Grey theme - Works with the default, do not do anything ### */
    /* ### White theme - Works with the default, do not do anything ### */

    /* ### Blue theme ### */
      .paragraphs-item-text.b--b .sh-title {
        color: #f2f2f2;
      }

      .paragraphs-item-text.b--b .sh {
        border-color: #f2f2f2;
      }

  /* ## Text theme styles - END ## */

  /* ## Drawer theme styles - START ## */
    /* ### Grey theme - Grey is the default, do not do anything ### */

    /* ### Blue theme ### */
      .paragraphs-item-drawers.b--b {
        background-color: #091f2f;
        color: #58585b;
      }

      .paragraphs-item-drawers.b--b .dr-tr:checked~.dr-h {
        background-color: #1871bd;
      }

      .paragraphs-item-drawers.b--b .sh-title,
      .paragraphs-item-drawers.b--b .dr-tr:checked~.dr-h .dr-t {
        color: #f2f2f2;
      }

      .paragraphs-item-drawers.b--b .dr-tr:checked~.dr-h .dr-i{
        fill: #f2f2f2;
      }

      .paragraphs-item-drawers.b--b .sh {
        border-color: #f2f2f2;
      }

    /* ### White theme ### */
      .paragraphs-item-drawers.b--w {
        background-color: #fff;
      }

      .paragraphs-item-drawers.b--w .dr-h {
        background-color: #f2f2f2;
      }

      .paragraphs-item-drawers.b--w .dr-h:focus .dr-t,
      .paragraphs-item-drawers.b--w .dr-h:hover .dr-t {
        color: #091f2f;
      }

      .paragraphs-item-drawers.b--w .dr-h:hover .dr-i {
        fill: #091f2f;
      }

      .paragraphs-item-drawers.b--w .dr-h:focus .dr-t,
      .paragraphs-item-drawers.b--w .dr-tr:checked~.dr-h:hover .dr-t{
        color: #1871bd;
      }

      .paragraphs-item-drawers.b--w .dr-h:focus .dr-i,
      .paragraphs-item-drawers.b--w .dr-tr:checked~.dr-h:hover .dr-i {
        fill: #1871bd;
      }

      .paragraphs-item-drawers.b--w .dr-tr:checked~.dr-h:focus .dr-t {
        color: #f2f2f2;
      }

      .paragraphs-item-drawers.b--w .dr-tr:checked~.dr-h:focus .dr-i {
        fill: #f2f2f2;
      }

  /* ## Drawer then styles - END ## */
/*# Styles for Component Themes (Blue, White, Grey) - END #*/
