<a href="{{ node_url }}">
    <div class="cdp-t t--sans t--upper">{{ title }}</div>
    {% if content.field_position_title %}
        <div class="t--g300">{{ content.field_position_title }}</div>
    {% endif %}
</a>