// For the most part this file should be avoided in favor of individual component CSS files,
// but it is occasionally necessary to set global styles, such as in the case of public.css overrides.
@import '@globals/colors';

@namespace svg url(http://www.w3.org/2000/svg);

p {
  margin: 0;
}

svg,
svg|svg,
h3 {
  line-height: inherit;
}

.container {
  max-width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.ml-app input[type="checkbox"],
.ml-app input[type="radio"] {
  display: inherit; // public.css sets to display: none which eliminates tab order even with tabindex set.
}

.ml-app ::-ms-check {
  display: none;
}

.ml-app :-ms-input-placeholder {
  font-style: normal;
}

// .ml-app :focus {
//   outline-width: 2px;
//   outline-style: solid;
// }

// .page {
//   padding-top: 65px; // public.css sets .mn { padding-top: 65px; } but then adds .page { padding-top: 6.6em } creating extra white space.
// }

.ml-block {
  display: block;
}

.ml-inline-block {
  display: inline-block;
}

// Overrides /sites/default/files/linked/css/css_6oJnxXTl5t9fkw3C8uMRtGxwbWXLDmLm2glpmOsBgVY.css
.breadcrumb {
  margin-top: 0;
}

.ml-shorthand,
.ml-shorthand[title] {
  text-decoration: none;
  border-bottom: none;
}