{#
/**
 * @file
 * Template used to style the results from a search.
 *
 * Available variables:
 * - content: markup provided by the search asa response header/summary
 * - dataset: a set of records returned from the search.
 *
 * @see template_preprocess_input()
 */
#}
{% if content or dataset %}
  <div class="b b--p300 b-c--wbb">
    <div class="txt txt-l">{{ content }}</div>
    {% for key, value in dataset %}
      <div class="txt">record {{ key }}: address: {{ value.address }}</div>
    {% endfor %}
  </div>
{% endif %}
