{#
/**
 * @file
 * Template used to style message provided from the custom form class.
 *
 * Available variables:
 * - content["#items"]: an array of messages to output.
 *
 */
#}
{{ breakpoint() }}
<div id="rsb-messages">
{% if content["#items"] %}
  <div class="txt-f txt-f--msg b--lg">
    <ul class="">
      {% for item in content["#items"] %}
        <li class="">{{ item }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}
</div>
