{#
/**
 * @file
 * Template used to style the results from a search.
 *
 * Available variables:
 * - content: markup provided by the search asa response header/summary
 * - dataset: a set of records returned from the search.
 *
 * @see template_preprocess_input()
 * @see patterns https://patterns.lndo.site/components/detail/grid--default for flex-powered grids (preferred).
 * @see patterns https://patterns.lndo.site/components/detail/table--default for table format.
 */
#}
<div id="rsb-record">
  {{ content }}
</div>
