.h-20 {
  padding-top: 10px;
}

/* remove once I push changes to patterns live */
.green {
  color: #58B652;
  line-height: 1rem
}

h5 .learn-more {
  text-transform: capitalize;
  text-align: left;
  text-decoration: underline;
  font: italic normal normal 18px/26px Lora;
  letter-spacing: 0px;
  color: #288BE4;
}
