.h-20 {
  padding-top: 10px;
}

/* remove once I push changes to patterns live */
.green {
  color: #58B652;
  line-height: 1rem
}
h5 .learn-more {
  text-transform: capitalize;
  text-align: left;
  text-decoration: underline;
  font: italic normal normal 18px/26px Lora;
  letter-spacing: 0px;
  color: #288BE4;
}

#page.mn #main-menu #seal.s {
  -webkit-transform: translateX(-50%) translateY(0%);
  transform: translateX(-50%) translateY(0%);
  box-shadow: none;
  display: none;
}

.required.error.cb-f:before {
  border-color: #d22d23;
}

.container .paragraphs-item-cob-webform-component .b-c {
  padding-right: 0;
  padding-left: 0;
}

.paragraphs-item-cob-webform-component .ssm {
  background-color: #091f2f;
  z-index: 12;
  padding: 0 0 2px;
  margin-top: 0;
  position: fixed;
  display: block;
}
