.webform-progress {
  position: relative;
}
.webform-progress:before {
  position: relative;
  content: "TRANSPORTATION DEMAND MANAGEMENT TOOL";
  font-size: 45px;
  color: #091f2f;
  font-family: Montserrat,Arial,sans-serif;
  font-weight: 700;
  line-height: 1.4;
  margin: 27.56px 0 4px;
  margin: 1.7225rem 0 0.25rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.webform-submission-form .webform-progress__summary:before {
  content: "Step ";
}
.webform-submission-form .webform-progress__status {
  text-align: left;
  font: italic normal normal 22px/35px Lora;
  letter-spacing: -0.49px;
  color: #091F2F;
  opacity: 1;
  margin-top: -12px;
}
.webform-submission-form .fyi-d {
  font-style: normal;
}
.webform-submission-form .cal-target-score {
  display: block;
  color: #717171;
  border-color: #bbb;
  background: #ededed;
  height: 69px;
  border: 3px solid #bbb;
  padding: 10px 18px;
}
.webform-submission-form .mobility-score {
  padding: 0 25px 0 0;
}
.webform-submission-form .progress-tracker {
  margin: 10px 0 20px;
  display: flex;
}
.webform-progress-tracker.progress-tracker, .webform-submission-form ul li {
  list-style: none;
  background: none;
}
.webform-submission-form .progress-step {
  position: static;
}
.webform-progress-tracker .progress-step .progress-text {
  display:none;
}
.webform-progress-tracker .progress-step .progress-marker {
  display:none;
}
.webform-progress-tracker .progress-step::after {
  left: 0;
  right: 0;
  background: none;
}
.webform-submission-form .progress-tracker--center .progress-step.is-active, .webform-submission-form .progress-tracker--center .progress-step.is-complete  {
  background: #288BE4 0% 0% no-repeat padding-box;
}
.webform-submission-form .progress-tracker--center .progress-step {
  background: #ffffff;
  border-top:3px solid #091F2F;
  border-bottom:3px solid #091F2F;
  width: 14.2%;
  height: 15px;
}
.webform-submission-form .progress-tracker--center .progress-step:first-child {
  border-left:3px solid #091F2F;
}
.webform-submission-form .progress-tracker--center .progress-step:last-child {
  border-right:3px solid #091F2F;
}
.webform-submission-form .webform-flex--container > .form-item > input:not([type="checkbox"]), .webform-submission-form .webform-flex--container > .form-item > select {
  width: 100%;
}
.webform-submission-form .webform-flexbox {
  margin: 0 -0.5em;
}
.webform-submission-form fieldset.webform-composite-hidden-title {
  margin-top: 0;
  margin-bottom: 0;
}
.webform-submission-form .webform-actions {
  text-align: right;
  display: block;
  margin: 33px 0 40px;
}
.webform-submission-form label {
  color: #091f2f;
  font-family: Montserrat,Arial,sans-serif;
  font-weight: 700;
  line-height: 1.4;
  margin: 27.56px 0 4px;
  margin: 1.7225rem 0 0.25rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size:16px;
}
.webform-submission-form .webform-button--next.form-submit {

}
.webform-submission-form .mobility-scores-criteria.b--fw {
  overflow: hidden;
}
.webform-submission-form .webform-section-wrapper {
  padding: 3.5rem 0;
}
.webform-element--title-inline > label.cb {
  display: flex;
}
