// Borders
$border-000: 0;
$border-100: 1px;
$border-150: 2px;
$border-200: 3px;
$border-250: 0.22222222222rem; // ~3.5px
$border-300: 0.33333333333rem; // ~5.3px
$border-400: 0.44444444444rem; // ~8px
$border-500: 0.55555555555rem; // ~10px