// Spacing
$sizing-000: 0;
$sizing-100: 0.25rem;
$sizing-200: 0.5rem;
$sizing-300: 1rem;
$sizing-400: 1.25rem;
$sizing-500: 1.7225rem;
$sizing-600: 2rem;
$sizing-700: 2.1875rem;
$sizing-800: 3.125rem;
$sizing-900: 4rem;

$table-cell-spacing: rem( 4px );
$table-cell-spacing--big: ( 8.4px );

$table-cell-spacing--large: rem( 10px );
$table-cell-spacing--big-large: rem( 21px );

$panel-spacing: rem( 12px );
$panel-spacing--desktop: rem( 8px );