header.content-header {
  display: none;
}
.block-system-breadcrumb-block {
  display: none;
}
.page-content {
  margin-bottom: 0 !important;
}
body.adminimal-admin-toolbar.toolbar-tray-open.toolbar-horizontal.toolbar-fixed.toolbar-loading.bos_admin.user-logged-in.path-admin {
  padding: 0 !important;
}
