{#
  todo: put this in a valid preprocess
  sso_link = variable_get('sso_login_url', FALSE);
  is_local = !empty($_GET['local']);
#}

{% if sso_link) %}
  {%  if is_local %}
    {{ form.children }}
  {% else %}
    <div style="margin: 50px 0 200px">
      <div class="content"{{ content_attributes }}>
        <div class="sh">
          <h2 class="component-title">Login</h2>
        </div>
        <div>
          {% if sso_link %}
            <a href="<?php echo $sso_link; ?>" title="Login via The Hub" class="button">Login via The Hub</a>
          {%  else %}
            <a href="/user?local" title="Login" class="button">Login</a>
          {% endif %}
        </div>
      </div>
    </div>

    <style>
      .page-title {
        display: none;
      }

      .tabs.primary {
        display: none;
      }
    </style>
  {%  endif %}
{% else %}
  {{ form.children }}
{%  endif %}