<!DOCTYPE html>
	<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<!--<script type="text/javascript" src="libraries/react.16.13.1.min.js"></script>
	<script type="text/javascript" src="libraries/react-dom.16.13.1.min.js"></script>-->
	<script type="text/javascript" src="https://jquery-textfill.github.io/js/textfill/jquery.textfill.js"></script>
	<link rel="stylesheet" href="https://patterns.boston.gov/css/public.css" type="text/css" >
	<link rel="stylesheet" href="src/css/styles.css" type="text/css" >
	</head>
	<body>
		<div id="web-app">Loading COB Webapp...</div>
	</body>
	<script type="text/javascript" src="src/js/index.js?cb=1597846823585"></script>
</html>
