$font-family-sans-serif: Helvetica, Arial, sans-serif;
$font-family-montserrat: Montserrat, $font-family-sans-serif;
$font-family-heading: $font-family-montserrat;
$font-family-lora: Lora, Georgia, serif;
$font-family-body-text: $font-family-lora;

$max-line-length: 39em;

$line-height-000: 1;
$line-height-100: 1.1;
$line-height-150: 1.2;
$line-height-200: 1.32;
$line-height-300: 1.5;
$line-height-400: 2;
$line-height-500: 2.5;
$line-height-600: 3.5;

// $rem-baseline: 18px;