@import './searchInput.css';

#web-app {
	padding: 25px 0 30px;
	min-height: 500px;
}

#web-app label, #web-app ul, #web-app ul li {
	margin: 0;
	padding: 0;
}

#web-app .mnl-search button,
#web-app .g button {
	margin-top: 50px;
	padding: 10px 15px;
	color:#fff;
}
#web-app ul button {
	width: 100%;
	text-align: left;
}
#web-app ul button:focus {
	background-color: #288be4;
}

#web-app .filter-by-desc {
	padding: 0.5em 0 0.5em;
}

/* START: Search Filters */

#web-app .search-filters {
	display: flex;
}

#web-app .search-filters label {
	padding: 0;
	margin: 0;
}

#web-app .search-filters label.filters-label {
	text-transform: uppercase;
  padding: .8em 0 0 0;
	font-weight: bold;
  font-size: 1.05em;
}

#web-app .search-filters label.ra {
	margin-left: 1em;
}

#web-app .search-filters label.ra:first-child {
	margin-left: 0;
}

/* END */

/* START: Results table HEADERs  */
#web-app .results-list .header, #web-app .results-list .rows {
	display: flex;
	justify-content: space-evenly;
	line-height: 1.25em;
}

#web-app .results-list .header {
	border-bottom: 1px dashed #e0e0e0;
  padding: 1rem 0;
}

#web-app .results-list .header .header-label, 
#web-app .results-list .rows .prop-value {
	flex: 1;
	text-align: left;
}

#web-app .results-list .header .header-label {
	font-family: Montserrat, Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	color: #091f2f;
}
/* END */

/** styles for new input search box and search button **/
#web-app .sf-i-f.search {
	border: 4px solid #000;
	padding: 10px 75px 10px 20px;
	height: auto !important;
}
#web-app .sf-i-f.search::placeholder {
	padding-bottom: 10px;
}
#web-app .sf-i-b{
	margin-top: -2px !important;
}
/* END */

#web-app .search-result {
	display: flex;
}

#web-app .search-result li {
	display: flex;
	color: #091f2f;
}

/* START: Results List */
#web-app .results-list .header, #web-app .results-list .rows {
	display: flex;
	justify-content: space-evenly;
	line-height: 1.25em;
}

#web-app .results-list .header {
	border-bottom: 1px dashed #e0e0e0;
  padding: 1rem 0;
}

#web-app .results-list .header .header-label, 
#web-app .results-list .rows .prop-value {
	flex: 1;
	text-align: left;
}

#web-app .results-list .header .header-label {
	font-family: Montserrat, Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	color: #091f2f;
}

#web-app .results-list .rows .column-property  {
	color: #288BE4;
}
/* END */
