{{ attach_library("bos_search/snippet.search_feedback") }}
{% set dialogOptions = " data-dialog-options=" ~ {'width':345,'classes':{'ui-dialog':'feedback-dialog'},'title':''}|json_encode %}
<div class="ai-feedback-wrapper">

  <div class="ai-feedback-buttons">
    {% if thumbsup  %}
      <a href="/form/ai-search-feedback?happy=1"
         class="webform-dialog button ai-feedback-item"  {# use-ajax #}
         data-dialog-type="modal"{{ dialogOptions }}>
        <div class="thumbsup">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20">
            <path class="ai-feedback-svg" d="M20.9371 6.63625C20.7259 6.39693 20.4662 6.20528 20.1753 6.07403C19.8844 5.94278 19.5688 5.87494 19.2496 5.875H13.9996V4.375C13.9996 3.38044 13.6045 2.42661 12.9013 1.72335C12.198 1.02009 11.2442 0.625 10.2496 0.625C10.1103 0.6249 9.97369 0.663617 9.85513 0.736808C9.73657 0.809999 9.64074 0.914771 9.57838 1.03938L6.03651 8.125H1.99963C1.60181 8.125 1.22028 8.28304 0.938974 8.56434C0.657669 8.84564 0.499634 9.22718 0.499634 9.625V17.875C0.499634 18.2728 0.657669 18.6544 0.938974 18.9357C1.22028 19.217 1.60181 19.375 1.99963 19.375H18.1246C18.6728 19.3752 19.2022 19.1753 19.6134 18.8128C20.0245 18.4503 20.2892 17.9501 20.3578 17.4062L21.4828 8.40625C21.5226 8.0894 21.4946 7.76768 21.4005 7.4625C21.3064 7.15732 21.1485 6.87566 20.9371 6.63625ZM1.99963 9.625H5.74963V17.875H1.99963V9.625ZM19.994 8.21875L18.869 17.2188C18.8462 17.4 18.7579 17.5668 18.6209 17.6876C18.4838 17.8084 18.3074 17.8751 18.1246 17.875H7.24963V9.05219L10.6912 2.16813C11.2013 2.27021 11.6602 2.5459 11.99 2.94826C12.3197 3.35062 12.4998 3.8548 12.4996 4.375V6.625C12.4996 6.82391 12.5787 7.01468 12.7193 7.15533C12.86 7.29598 13.0507 7.375 13.2496 7.375H19.2496C19.3561 7.37496 19.4613 7.39758 19.5583 7.44134C19.6553 7.48511 19.7419 7.54902 19.8123 7.62883C19.8827 7.70863 19.9353 7.80252 19.9667 7.90423C19.998 8.00594 20.0073 8.11316 19.994 8.21875Z"/>
          </svg>
        </div>
      </a>
    {% endif %}
    {% if thumbsdown  %}
      <a href="/form/ai-search-feedback?happy=0"
         class="webform-dialog button ai-feedback-item"  {# use-ajax #}
         data-dialog-type="modal"{{ dialogOptions }}>
        <div class="thumbsdown">
          <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20">
            <path class="ai-feedback-svg" d="M21.4828 11.5938L20.3578 2.59375C20.2892 2.04989 20.0245 1.54975 19.6134 1.18724C19.2022 0.824741 18.6728 0.624812 18.1246 0.625H1.99963C1.60181 0.625 1.22028 0.783035 0.938974 1.06434C0.657669 1.34564 0.499634 1.72718 0.499634 2.125V10.375C0.499634 10.7728 0.657669 11.1544 0.938974 11.4357C1.22028 11.717 1.60181 11.875 1.99963 11.875H6.03651L9.57838 18.9606C9.64074 19.0852 9.73657 19.19 9.85513 19.2632C9.97369 19.3364 10.1103 19.3751 10.2496 19.375C11.2442 19.375 12.198 18.9799 12.9013 18.2766C13.6045 17.5734 13.9996 16.6196 13.9996 15.625V14.125H19.2496C19.5689 14.1251 19.8846 14.0573 20.1756 13.926C20.4667 13.7947 20.7264 13.603 20.9377 13.3635C21.1489 13.1241 21.3067 12.8425 21.4007 12.5373C21.4947 12.2322 21.5227 11.9105 21.4828 11.5938ZM5.74963 10.375H1.99963V2.125H5.74963V10.375ZM19.8121 12.3709C19.7422 12.4513 19.6558 12.5157 19.5587 12.5595C19.4616 12.6034 19.3562 12.6257 19.2496 12.625H13.2496C13.0507 12.625 12.86 12.704 12.7193 12.8447C12.5787 12.9853 12.4996 13.1761 12.4996 13.375V15.625C12.4998 16.1452 12.3197 16.6494 11.99 17.0517C11.6602 17.4541 11.2013 17.7298 10.6912 17.8319L7.24963 10.9478V2.125H18.1246C18.3074 2.12494 18.4838 2.19158 18.6209 2.31242C18.7579 2.43325 18.8462 2.59996 18.869 2.78125L19.994 11.7812C20.0081 11.8868 19.9991 11.9942 19.9677 12.096C19.9363 12.1978 19.8832 12.2916 19.8121 12.3709Z"/>
          </svg>
        </div>
      </a>
    {% endif %}
    {% if thumbsup or thumbsdown  %}
      <div class="ai-feedback-item-text">Was this helpful?</div>
    {% endif %}
  </div>

  <div class="clearfix"></div>
  <div class="ai-feedback-confirm"></div>

</div>
