
{{ attach_library("bos_search/snippet.modal_close") }}

<div class="modal-close-wrapper">
  <div class="ai-form-reset" tabindex="0">
    <div class="ai-reset-button"></div>
  </div>
  <div class="modal-close"></div>
</div>
<div class="clearfix"></div>
