
{{  attach_library("bos_search/snippet.modal_close") }}

<div class="modal-close-wrapper">
  <div class="modal-reset">
    <div class="ai-button"><div class="ai-reset-icon"></div>Reset Search</div>
  </div>
  <div class="modal-close"></div>
</div>
