div#sanitation-scheduling-app {
  color: #000;
}
div#sanitation-scheduling-app h1 {
  margin: unset;
  letter-spacing: unset;
  line-height: unset;
}
div#sanitation-scheduling-app h2 {
  text-transform: unset;
  letter-spacing: unset;
  line-height: unset;
}
div#sanitation-scheduling-app h3 {
  text-transform: unset;
  font-weight: unset;
  font-family: unset;
  color: unset;
  font-size: unset;
  letter-spacing: unset;
  line-height: initial;
}
div#sanitation-scheduling-app input {
  height: initial;
  display: initial;
}
div#sanitation-scheduling-app label {
  text-transform: unset;
  letter-spacing: unset;
  line-height: unset;
  margin: unset;
}
