div.paragraphs-item-web-app {
  padding-left: 0;
  padding-right:0;
}
div#sanitation-scheduling-app {
  color: #000;
  margin:0;
  /* max-width: 660px */
  padding: 0;
  line-height: 1.2rem;
}
div#sanitation-scheduling-app h1 {
  /*margin: unset;*/
  letter-spacing: unset;
  line-height: unset;
  display: none;
}
div#sanitation-scheduling-app h2 {
  text-transform: unset;
  letter-spacing: unset;
  line-height: unset;
  margin-bottom: 0;
}
div#sanitation-scheduling-app h3 {
  text-transform: unset;
  font-weight: unset;
  font-family: unset;
  color: unset;
  font-size: unset;
  letter-spacing: unset;
  line-height: initial;
}
div#sanitation-scheduling-app input {
  height: initial;
  display: initial;
}
div#sanitation-scheduling-app label {
  text-transform: unset;
  letter-spacing: unset;
  line-height: unset;
  margin: unset;
}
div#sanitation-scheduling-app p {
  margin: 0 0 4px 0;
}
.paragraphs-item-web-app .b-c {
  padding-left: 0;
}

/* FIXES SPEEDLINE SHOULD MAKE */
/* overall font size in component */
div#sanitation-scheduling-app a,
div#sanitation-scheduling-app .tw-md ,
div#sanitation-scheduling-app .tw-base {
  font-size: 1rem;
}
/* italics instructions font size */
div#sanitation-scheduling-app .tw-text-italic ,
div#sanitation-scheduling-app .tw-sm {
  font-size: .85rem;
}
