<table class="email-content" width="100%" cellpadding="0" cellspacing="0" role="presentation" style="width: 100%; margin: 0; padding: 0; -premailer-width: 100%; -premailer-cellpadding: 0; -premailer-cellspacing: 0;">
  <tbody><tr>
    <td class="email-masthead" style="font-family: 'Nunito Sans', Helvetica, Arial, sans-serif; font-size: 16px; padding: 25px 0; text-align: center;">
      <img src="https://patterns.boston.gov/images/public/logo.png" class="img-max-width-logo" style="width: 400px;">
    </td>
  </tr>
  </tbody>
</table>
