fieldset.flex .fieldset-wrapper,
section.flex {
  display: flex;
  border: 1px solid silver;
  background-color: aliceblue;
  padding: 10px;
}
fieldset.flex .form-item,
section.flex .form-item {
  margin-left: 10px;
}
