{#
 * @file
 * Payment Info Field template.
 #}

<div class="detail-item">
  <div class="detail-item__left">
    <img src="https://patterns.boston.gov/images/global/icons/icon-payment.svg" class="icon icon-payment sb-ic" alt="" />
  </div>
  <div class="detail-item__content">
    <div class="detail-item__label sb-d">Payment Info:</div>
    <div class="detail-item__body detail-item__body--tertiary sb-b">
      {{ items }}
    </div>
  </div>
</div>
