{#
/**
 * @file
 * Default implementation of field intro text.
 */
#}

{% set lclasses = ["intro-text", "supporting-text", "squiggle-border-bottom"] %}

{% if classes %}
   {% set lclasses = lclasses|merge(classes) %}
{% endif %}

<div{{ attributes.addClass(lclasses) }}>
   {{ items }}
</div>
