{#
/**
 * @file
 * Default implementation of field intro text.
 */
#}

{% set lclasses  = ["intro-text", "supporting-text", "squiggle-border-bottom"] %}

{% if classes %}
   {% set lclasses = lclasses|merge(classes) %}
{% endif %}

{% for item in items %}
   <div{{ item.attributes.addClass(lclasses) }}>{{ item.content }}</div>
{% endfor %}
