<div class="di">
  <div class="di-ic">
    {{ drupal_breakpoint() }}
    <a href="{{ department_link }}" title="{{ element.0["#title"] }}" class="di-tt">
      {{ element.0 }}
    </a>
  </div>
</div>
