.ml-reveal__content {
  overflow: hidden;
  transition: max-height 0.3s ease; // Smooth transition for expansion and collapse
}

.ml-reveal__more-button {
  font: inherit;
  text-decoration: underline;
  border: 0;
  appearance: none;
  text-align: left;
  padding: 0;
  cursor: pointer;
  background-color: transparent;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}