.bh-project-type {}

.bh-project-type .cdd-ic {
  background-color: #091f2f;
  border-right: none;
  padding: unset;
}

.bh-project-type .project-type-icon {
  width: 120px;
}

.bh-project-type .cdd-ic img {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.bh-project-type .br--w {
  border-color: #fff;
}

.bh-project-type .t--intro, .bh-project-type .t--subtitle {
  font-style: normal;
  font-weight: bold;
}



.bh-project-manager-contact {}
