.padora-css-test {
  display: none;
}

.views-exposed-form {
  float:left;
}

.views-view-grid {
  float: right;
}

.views-label {
  float: left;
  margin-right: 0.5rem;
}

.views-col {
  border: solid 1px aliceblue;
  margin: 0.0rem;
  padding: 0.5rem;
}

.views-field-title {
  background-color: aliceblue;
  margin: -0.5rem -0.5rem 0 -0.5rem;
  padding: 0.5rem;
}
