.main {
  background-color: #F2F2F2;
}

.view-display-id-livemap {
  display: flow-root;
}

.view-display-id-livemap nav {
  display: none;
}

.view-display-id-livemap header {
  z-index: 1;
}

.view-display-id-maplist nav {
  display: block;
}

.view-display-id-maplist header {
  position: sticky;
  z-index: 2;
  top: 0;
  background-color: #F2F2F2;
}

.view-display-id-livemap .views-element-container {
  min-width: 20rem;
  max-width: calc(25vw - 8rem);
  z-index: 1;
  margin-right: 1%;
  margin-left: 0.611em;
  position: absolute;
  overflow: hidden;
  margin-top: 2rem;
}

.view-display-id-livemap .views-element-container .dr .dr-c{
  padding: 0;
}

.view-display-id-livemap .views-element-container .dr-tr ~ header label .bh-dr-title:before {
  content: 'Show List';
  text-transform: uppercase;
}

.view-display-id-livemap .views-element-container .dr-tr:checked ~ header label .bh-dr-title:before {
  content: 'Hide List';
  text-transform: uppercase;
}

.view-display-id-livemap .views-element-container .dr-tr:checked ~ header label svg {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg)
}

.view-display-id-livemap .geolocation-map-wrapper {
  height: calc(100vh - 3rem);
}

.bg--w {
  background-color: #FFFFFF;
}


.view-display-id-maplist {
  padding: 0 1rem 1rem 1rem;
  background-color: #F2F2F2;
  overflow: scroll;
  height: calc(70vh);
}

.view-display-id-maplist .bh-maplist-project {
  min-height: 7.5rem;

}

.view-display-id-maplist .bh-maplist-project a{
  color: #091f2f;
  text-overflow: ellipsis;
}

#views-exposed-form-bhmaps-livemap {
  background-color: #F2F2F2;
  position: sticky;
  top: 6.9rem;
  padding: 1rem 0 0 0;
  margin: 1rem 73% 0 1%;
  width: 24%;
  float: left;
  z-index: 2;
}

.form-item-field-bh-project-name-value .form-text {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #091f2f;
  border-radius: 0;
  color: #d22d23;
  font-family: Lora,Georgia,serif;
  font-size: calc(16px + 2 * ((100vw - 480px) / 960));;
  font-style: italic;
  height: auto;
  letter-spacing: -1px;
  line-height: 1.3;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.bh-maplist-link a{
  background-color: transparent;
  width: 24%;
  display: block;
  position: absolute;
  min-height: 10rem;
  margin: -1rem 0 0 -1rem;
  z-index: 0;
}
.bh-maplist-project-type-icon {
  float: right;
}

.bh-project-anchor {
  margin-top: -13rem;
  position: absolute;
}

.bh-maplist-project-title {
  margin-right: 2.5rem;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: 0.01em;
  text-align: left;
  height: 3rem;
  overflow: hidden;
  /*text-overflow: ellipsis;*/
  white-space: normal;
}

.bh-maplist-project-title p {
  margin: 0;
}

.geolocation-geocoder-address {
  background-image: unset !important;
  background-position: unset !important;
  margin-top: 1rem !important;

}

.geolocation-map-control {
  margin: 0 0 0 1em !important;
}

.views-field-field-bh-public-stage h2,
.bh-maplist-project h2 {
  display: none;
}

.bh-project-type-pill {
  display: flex;
  flex-direction: row;
  width: fit-content;
  background-color: red;
  border-radius: 50px;
  height: 32px;
  margin-bottom: 0.5rem;
}

.bh-project-type-pill p {
  color: #FFF;
  /*font-style: italic;*/
  font-weight: 400;
  font-size: 16px;
  padding-left: 0.5rem;
  line-height: 16px;
  margin-right: 1rem;
}

.bh-project-type-pill.charles-blue {
  background-color: #091F2F;
}

.bh-project-type-pill.green {
  background-color: #478033;
}

.bh-project-type-pill.gray-blue {
  background-color: #45789C;
}

.bh-project-type-pill.dark-gray {
  background-color: #58585B;
}

.bh-project-type-pill.medium-gray {
  background-color: #D2D2D2;
}

.bh-marker-data-project-name a{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  color: #091F2F;
  margin: 0.5rem 0 0.5rem 0;
}

.bh-marker-data-project-name a:hover{
  color: #091F2F;
}

.view-id-bhmaps .gm-style .gm-style-iw-c {
  border-radius: 0;
  min-width: 300px !important;
  max-width: 400px !important;
  height: fit-content !important;

}

.view-id-bhmaps .gm-style .gm-style-iw-t::after {
 display: none;
}



@media screen and (min-width: 769px) {
  .bh-show-on-mobile {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .bh-hide-on-mobile {
    display: none;
  }

  .view-display-id-livemap .views-element-container {
    bottom: -0.25rem;
    max-width: calc(100vw);
    margin-left: 0;
    margin-right: 0;
  }

  header.bh-show-on-mobile {
    width: calc(100vw);
  }

  .geolocation-map-control .description {
    display: none !important;
  }

}

@media screen and (max-width: 480px) {
  .view-display-id-livemap header h4 {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 360px) {
  .view-display-id-livemap header h4 {
    font-size: 1.0rem;
  }
}
