/*
.h-20 {
  padding-top: 10px;
}
*/
.rsb .js-form-type-checkbox {
  display: inline-flex;
}
.rsb .form-item-search-criteria-wrapper-search-search-filters-neighborhood {
  width: 100%;
  display: inline-block;
  position: relative;
}
.rsb .js-form-type-select:after {
  bottom: 2px;
  right: 2px;
}
.bos_theme .rsb input.sf-i-b {
  margin-top: 20px !important;
  margin-right: 10px !important;
  width: 45px;
}
.rsb .sf--md {
   background-color: #fff;
   border: 3px solid #091f2f;
   border-radius: 0;
   display: inline-block;
   font-family: Lora,Georgia,serif;
   color: #d22d23;
   font-size: 1.5em;
   line-height: 2;
   padding: 0 85px 0 1rem;
   height: calc(2 * 1rem + 2 * 3px + 1.5 * 1rem);
   margin: 0;
   box-sizing: border-box;
}
.rsb .sf--md.error {
  border-color: red;
  background-color: pink;
}
.rsb .form__button--bos-remote_search_box {
  display: block;
}
.rsb .txt-f,
.rsb .txt-f--err {
  height: fit-content;
  margin-top: 10px;
}
.rsb .txt-f--err ul,
.rsb .txt-f--msg ul {
  margin: 25px 0 0 0 ;
}
.rsb .txt-f--err li,
.rsb .txt-f--msg li {
  background-size: 15px;
  background-position-y: center;
  line-height: initial;
}
.rsb .intro-text {
  background: none;
  background-size: initial;
  margin-bottom: initial;
}
.rsb.btn--txt {
  height: fit-content;
  line-height: 0px;
  color: black;
  padding: 1em;
  text-align: left;
  padding-left: 4px;
  background-color: transparent;
}

.rsb .b--lg {
  background-color: lightgreen;
}
.rsb .txt-f--msg {
  border-color: green;
  height: fit-content;
  margin-top: 10px;
}
