{% set pType = (attribute(data,'PTYPE')  == '0102') 
	? {'type':'U', 'name':'Apartment Building', 'alt':'S'} 
	: {'type':'R', 'name':'Single Family Home', 'alt':'R'}
%}
{% set unitDisplay = (attribute(data,'PTYPE') == '0102') ? ' #'~attribute(data,'UNIT_NUM') : '' %}
{% set masterParcelId = attribute(data,'GIS_ID') %}
{% set masterParcelLink = "<a href="~attribute(data,'GIS_ID')~">"~attribute(data,'GIS_ID')~"</a>" %}

{% set dataMain = {
    "Grade" : "",
    "Exterior Condition" : attribute(data, pType.alt ~ '_EXT_CND'),
    "Exterior Style" : attribute(data, pType.alt ~ '_BLDG_STYL'),
    "Exterior Finish" : attribute(data, pType.alt ~ '_EXT_FIN'),
    "Foundation" : "",
    "Roof Cover" : "",
    "Roof Structure" : attribute(data, pType.alt ~ '_ROOF_TYP')}
%}

{% set dataCondo= {
	"Master Parcel" : masterParcelLink,
	"Corner Unit" : attribute(data, 'U_CORNER'),
    "Penthouse Unit" : "",
    "Floor" : attribute(data,'U_BASE_FLOOR'),}
%}

{% set dataUnit = {
    "Land Use" : "",
    "Story Height" : attribute(data,'NUM_FLOORS'),
    "Orientation" : attribute(data, pType.type ~ '_ORIENT'),
    "View" : attribute(data, pType.type ~ '_VIEW'),
    "AC Type" : attribute(data, pType.type ~ '_AC'),
    "Heat Type" : attribute(data, pType.type ~ '_HEAT_TYP'),
    "Fireplaces" : attribute(data, pType.type ~ '_FPLACE'),
    "Interior Condition" : attribute(data, pType.type ~ '_INT_CND'),
    "Total Rooms" : attribute(data, pType.type ~ '_TOT_RMS'),
    "Bedrooms" : attribute(data, pType.type ~ '_BDRMS'),
    "Bedroom Type" : "",
    "Full Bathrooms" : attribute(data, pType.type ~ '_FULL_BTH'),
    "Half Bathrooms" : attribute(data, pType.type ~ '_HALF_BTH'),
    "Bath Style 1" : attribute(data, pType.type ~ '_BTH_STYLE'),
    "Bath Style 2" : attribute(data, pType.type ~ '_BTH_STYLE2'),
    "Bath Style 3" : attribute(data, pType.type ~ '_BTH_STYLE3'),
    "Number of Kitchens" : "",
    "Kitchen Type" : "",
    "Kitchen Style 1" : attribute(data, pType.type ~ '_KITCH_STYLE'),
    "Kitchen Style 2" : attribute(data, pType.type ~ '_KITCH_STYLE2'),
    "Kitchen Style 3" : attribute(data, pType.type ~ '_KITCH_STYLE3'),
    "Parking Spots" : attribute(data, pType.type ~ '_NUM_PARK'),
    "Parking Type" : "",
    "Parking Ownership" : "",
    "Tandem Parking" : "",}
%}