<!DOCTYPE html>
	<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://patterns.boston.gov/web-components/fleetcomponents.js"></script>
	<link rel="stylesheet" href="https://patterns.boston.gov/css/public.css" type="text/css" >
	</head>
	<body>
		<cob-map id="map" open-overlay modal-visible>
    <script slot="config" type="application/json">
        {
            "version": "1.0",
            "uid": "map1",
            "dataSources": [{
                    "uid": "data1",
                    "icons": null,
                    "polygons": {
                        "style": "default",
                        "color": "#0c2639",
                        "hoverColor": "#fb4d42",
                        "fill": true
                    },
                    "popupHtmlTemplate": "",
                    "data": {
                        "type": "arcgis",
                        "service": "https://services.arcgis.com/sFnw0xNflSi8J0uh/ArcGIS/rest/services/AbutterParcels_Oct2020/FeatureServer/PID_LONG",
                        "layer": 0,
                        "properties" : "PID_LONG=12345"
                    },
                    "legend": {
                        "label": "City Council Districts",
                        "symbol": "polygon"
                    }
                }
            ],
            "maps": [{
                "title": "Parking and city councilors",
                "latitude": 42.32,
                "longitude": -71.1284,
                "zoom": 12,
                "showZoomControl": true,
                "showLegend": false,
                "showUserLocation": false,
                "addressSearch": null
            }]
        }
    </script>
</cob-map>
	</body>
</html>