// <AmiEstimatorInputSummary />
@import '@globals';

.ml-ami-estimator__input-summary {
  margin: 0;
  line-height: 1;

  & > div {
    flex: 1;
    text-align: center;
    font-family: $font-family-heading;
    color: $color-metrolist-text-blue;
    font-size: responsive rem( 24px) rem( 30px );
  }

  dt, dd {
    margin: 0;
    padding: 0;
  }

  dt {
    font-weight: bold;
  }
}

@include media-breakpoint-up( medium ) {
  // .ml-ami-estimator__input-summary > div {
  //   font-size: rem( 30px );
  // }

  // .ml-ami-estimator__prompt-answer-icon {
  //   width: rem( 227px );
  // }
}