{#
   @file
     Template for site breadcrumbs.
#}
{% if breadcrumb %}
   <nav role="navigation" aria-labelledby="system-breadcrumb">
      <div id="breadcrumb" data-swiftype-index="false">
         <nav class="brc" role="navigation">
            <div class="a11y--h"> class="brc-t"&gt;You are here</div>
            <ul class="brc-l">
               {% for item in breadcrumb %}
               <li class="brc-l-i">
                  {% if item.url %}
                     <a href="{{ item.url }}">{{ item.text }}</a>
                  {% else %}
                     {{ item.text }}
                  {% endif %}
                  <span class="brc-s"> {{ breadcrumb_separator }} </span>
               </li>
               {% endfor %}
            </ul>
         </nav>
      </div>
   </nav>
{% endif %}