{#
 * @file
 * Returns the HTML for a node.
 *
 * Complete documentation for this file is available online.
 *
 * @see https://drupal.org/node/1728164
 #}

{% set node = elements['#node'] %}
{% set paragraph = elements.field_link.0['#paragraph'] %}

{% set transaction_url = "#" %}
{% if paragraph.field_internal_link.0.url %}
  {% set transaction_url = paragraph.field_internal_link.0.url %}
{% elseif paragraph.field_external_link.0.url %}
  {% set transaction_url = paragraph.field_external_link.0.url %}
{% elseif paragraph.field_document.entity.uri.value %}
  {% set transaction_url = file_url(paragraph.field_document.entity.uri.value) %}
{% endif %}

<a href="{{ transaction_url }}" class="cd m-t400 cd--e">
  <div class="cd-c">
    <div class="g">
      <div class="g--4">
        <div class="cd-t">{{ title.0['#context'].value }}</div>
      </div>
      <div class="g--8">
        <div class="p-r700">
          <div class="cd-d cd-d--mt0">{{ elements.field_description }}</div>
        </div>
      </div>
    </div>
  </div>
</a>
