/*
* These changes are destined for patterns library at some point ...
*/

.dialog-off-canvas-main-canvas {
  padding-top: 65px;
}

/* Fixes header location with the new toolbar */
.toolbar-horizontal.toolbar-fixed div.dialog-off-canvas-main-canvas,
.toolbar-horizontal.toolbar-fixed header#main-menu, .toolbar-vertical header#main-menu,
.toolbar-horizontal.toolbar-fixed nav.nv-m, .toolbar-vertical nav.nv-m{
  top: 39px;
}

.toolbar-horizontal.toolbar-fixed.toolbar-tray-open div.dialog-off-canvas-main-canvas,
.toolbar-horizontal.toolbar-fixed.toolbar-tray-open header#main-menu,
.toolbar-horizontal.toolbar-fixed.toolbar-tray-open nav.nv-m{
  top: 79px;
}
.toolbar-fixed div.dialog-off-canvas-main-canvas {
  position: relative;
}

/* locates and themes the search block on the 404 page. */
body.page-error .dialog-off-canvas-main-canvas {
  position: initial;
  margin-top: 39px;
}
body.page-error h1.page-title {
  position: initial !important;
  height: auto;
  width: auto;
  padding-top: 0px;
  margin-top: 0px;
}

.error-text .h-s {
  display: block;
  position: static;
  padding: 0;
  background-color: transparent;
}
.error-text .h-s .sf-i-f {
  color: #091f2f;
}
.err.err--403 {
  top: 69px;
}
.err.err--404 {
  background-image: url('https://patterns.boston.gov/images/global/icons/404.svg');  /* in dev */
  background-color: transparent;
  background-position: bottom;
  background-size: 102%;
  background-repeat: no-repeat;
  position: absolute;
  top: 69px;
  bottom: 0;
  left: 0;
  right: 0;
}
.page-error .bos-search-form {
  padding-top: 20px;
}

/* === TAB FOR LOCAL TASKS (NODE EDIT/REVISIONS ETC) === */
/* This should go into patterns at some point. */
.toolbar-tray .toolbar-menu li.primary-task-tab a {
  background-color: black;
  color: white;
  border: 1px solid #2d2d2d;
  -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;
}
/* === === */
