/*
* These changes are destined for patterns library at some point ...
*/

.dialog-off-canvas-main-canvas {
  padding-top: 65px;
}

/* Fixes header location with the new toolbar */
.toolbar-horizontal.toolbar-fixed div.dialog-off-canvas-main-canvas,
.toolbar-horizontal.toolbar-fixed header#main-menu, .toolbar-vertical header#main-menu,
.toolbar-horizontal.toolbar-fixed nav.nv-m, .toolbar-vertical nav.nv-m{
  top: 39px;
}

.toolbar-horizontal.toolbar-fixed.toolbar-tray-open div.dialog-off-canvas-main-canvas,
.toolbar-horizontal.toolbar-fixed.toolbar-tray-open header#main-menu,
.toolbar-horizontal.toolbar-fixed.toolbar-tray-open nav.nv-m{
  top: 79px;
}
.toolbar-fixed div.dialog-off-canvas-main-canvas {
  position: relative;
}