<a href="{{ node_url }}">
    <div class="cdp-t t--sans t--upper">{{ title.0 }}</div>
    {% if content.field_position_title %}
        <div class="t--gd">{{ content.field_position_title }}</div>
    {% endif %}
</a>
