{#
  /**
   * @file components/grid-of-quote-cards.html.twig
   * Theme for a grid of quote-cards
   * @see https://patterns.boston.gov/components/detail/quote-card--grid.html
   *
   * Variables which can be used are:
   *  attributes - an array of attributes for the outside wrapper around the
   *               grid component.
   *  title - a title for the grid.
   *  attributes - an array of attributes for the title.
   *  cards - an array of cards.
  */
#}
{%
  set classes = [
    "b--w",
    "b--fw",
    "grid-of-quote-cards"
  ]
%}
{%
  set title_classes = []
%}

<div {{ attributes.addClass(classes) }}>
  <div class="b-c">

    {% if title %}
      <label {{ title_attributes.addClass(title_classes) }}>{{ title }}</label>
    {% endif %}

    <div class="g">
      {{ cards }}
    </div>

  </div>
</div>
