{#
 * @file
 * Theme override for a node edit form.
 * Modified from seven theme.
 *
 * Available variables:
 * - form: The node add/edit form.
 *
 * @see seven node-edit-form.html.twig
 * @see seven_form_node_form_alter()
#}
<div class="layout-node-form clearfix">
  <div class="layout-region">
    {{ form|without('advanced', 'footer', 'actions') }}
    {{ form.advanced }}
  </div>
  <div class="layout-region layout-region-node-footer">
    <div class="layout-region-node-footer__content">
      {{ form.footer }}
      {{ form.actions }}
    </div>
  </div>
</div>
