#web-app button {
	margin-top:50px;
	color:#fff;
}

#web-app .t--g300 {
	padding-bottom:10px;
	line-height:24px;
}

#web-app .t--g300 div{
	line-height:24px;
}

#web-app .t--g300 div.no-heading {
	padding:12px 0;
}

@media (max-width: 980px) {
	#web-app div.cd{
		display:block;
	}
	#web-app .cd-c img{
		margin: 0 auto 10px;
	}
}
