/**
  Locate contextual button out of the way of the main page button.
 */

.node-emergency-alert div.contextual {
  padding-right: 70px;
}

#page.ea:not(.sa) .hero-image {
  margin-top: 0;
}

/*
  Blue theme.
 */
.node-emergency-alert .b--dark-blue {
  color: #1871bd;
}
.node-emergency-alert .b--dark-blue .str-t,
.node-emergency-alert .b--dark-blue .str-c {
  color: #fff;
  background-color: #091f2f;
}
.node-emergency-alert .b--dark-blue .str:before {
  border-color: #fb4d42;
}

/**
  Red theme.
 */
.node-emergency-alert .b--red {
  color: #091f2f;
}
.node-emergency-alert .b--red .str-t,
.node-emergency-alert .b--red .str-c {
  color: #fff;
  background-color: #fb4d42;
}
.node-emergency-alert .b--red a:not(:disabled) {
  background-color: #091f2f;
}
.node-emergency-alert .b--red a.btn:hover:not(:disabled) {
  background-color: #1871bd;
}

/**
  Yellow theme.
 */

.b--yellow {
  background-color: #f7bd5c;
  color: #091f2f;
}
.node-emergency-alert .b--yellow .str-t,
.node-emergency-alert .b--yellow .str-c {
  color: #1871bd;
  background-color: #f7bd5c;
}

/**
  Manage seal.
 */
#page.ea #main-menu #seal.s {
  -webkit-transform: translateX(-50%) translateY(0%);
  transform: translateX(-50%) translateY(0%);
  box-shadow: none;
}
