.fyi-d {
  max-width: 650px;
}

/**
  Locate contextual button out of the way of the main page button.
 */
#sa-a .contextual {
  margin-right: 70px;
}

/**
  Manage seal.
 */
#page.sa #main-menu #seal.s {
  -webkit-transform: translateX(-50%) translateY(0%);
  transform: translateX(-50%) translateY(0%);
  box-shadow: none;
}
