/**
  Locate contextual button out of the way of the main page button.
 */
#sa-a .contextual {
  margin-right: 70px;
}

/**
  Manage seal.
 */
#page.sa #main-menu #seal.s {
  -webkit-transform: translateX(-50%) translateY(0%);
  transform: translateX(-50%) translateY(0%);
  box-shadow: none;
  display: none;
}

/**
  Manage Topic-pages hero image when have site alert.
 */
#page.sa:not(.page--fp) .main-content {
 top: 0;
 position: relative;
}
#page.sa .hero-image {
  padding-top: 0;
}
#page.sa .hero-image-wrapper:after {
  top: 0;
}

/* Enable/disable site alerts using the sa class */
.node-site-alert {
  display: none;
}
.sa .node-site-alert {
  display: block;
}

.logged-in.toolbar-fixed #page.sa:not(.page--fp) #sa {
  top: 4.4rem;
  position: relative;
  min-height: 75px;
}

.logged-in.toolbar-fixed #page.sa:not(.page--fp) .main-content {
  top: 4.4rem;
}
