.fyi-d {
  max-width: 650px;
}
#sa-a .contextual button {
  margin-right: 70px;
}
#page.sa #main-menu #seal.s {
  -webkit-transform: translateX(-50%) translateY(0%);
  transform: translateX(-50%) translateY(0%);
  box-shadow: none;
}
