/*
* These changes are destined for Slick library css overrides 7-19-2024
*/

.slide .b--b {
  background-color: transparent !important;
}
.slick .b--by {
  border-top: .44444444444rem solid #091f2f
}
.slick-dots li {
  background: none;
}
