{#
 * @file
 * Default theme implementation for a single paragraph item.
 *
 * Available variables:
 * - $content: An array of content items. Use render($content) to print them
 *   all, or print a subset such as render($content['field_example']). Use
 *   hide($content['field_example']) to temporarily suppress the printing of a
 *   given element.
 * - $classes: String of classes that can be used to style contextually through
 *   CSS. It can be manipulated through the variable $classes_array from
 *   preprocess functions. By default the following classes are available, where
 *   the parts enclosed by {} are replaced by the appropriate values:
 *   - entity
 *   - entity-paragraphs-item
 *   - paragraphs-item-{bundle}
 *
 * Other variables:
 * - $classes_array: Array of html class attribute values. It is flattened into
 *   a string within the variable $classes.
 *
 * @see template_preprocess()
 * @see template_preprocess_entity()
 * @see template_process()
#}
<div class="dr-ql b b--fw b--b">

  <input type="checkbox" id="dr-ql-tr1" class="dr-ql-tr a11y--h" checked>

  <label for="dr-ql-tr1" class="dr-ql-h">

    <div class="dr-ql-ic">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="-2 8.5 18 25">
        <path class="dr-ql-i" d="M16 21L.5 33.2c-.6.5-1.5.4-2.2-.2-.5-.6-.4-1.6.2-2l12.6-10-12.6-10c-.6-.5-.7-1.5-.2-2s1.5-.7 2.2-.2L16 21z" />
      </svg>
    </div>

    <div class="dr-ql-str">

      <div class="dr-ql-str-c">

        <div class="dr-ql-str-t">
          {{ content.contextual_links }}
          {{ content.field_component_title }}
          {% if content.field_short_title %}
            {{ content.field_short_title }}
          {% endif %}
        </div>

      </div>

    </div>

  </label>

  <div class="dr-ql-c">
    <div class="g">
      {{ content.field_links }}
    </div>
  </div>
</div>
