{#
 * @file
 * External Link View Mode: Token  Field template.
 #}
{# TODO: review variable assignment: detail_item_variables = array( #}
  'label': 'Downloads:',
  'body': "<ul><li>" . items . "</li></ul>",
  'classes': array(
    'icon': 'icon-download',
    'body': 'detail-item__body--secondary',
  ),
)

theme('detail_item', $detail_item_variables)

