{#
 * @file
 * Phone number field template.
 #}
{# TODO: review variable assignment: phone = $items[0]['#markup #}
<a href="tel:{{ phone }}" class="d-b bg--cb cdp-a ta-c p-a300 t--upper t--sans t--w t--ob--h t--s100">{{ phone }}</a>
